<div class="section">
	<h3 class="title">Contact</h3>

	<div class="section-text">
		<p>I’m always keen to meet people with mutual interests and a similar approach to life.</p>
	    <p>If you are interested in sharing ideas or working together then I'd love to hear from you. You can reach me below or via various social media.</p>
    </div>

	<div class="contact-form">
		<%= form_for @contact do |f| %>
			<%= f.label :name %>
			<br>
			<%= f.text_field :name, required: true %>

			<br>

			<%= f.label :email %>
			<br>
			<%= f.email_field :email, required: true %>			

			<br>

			<%= f.label :message %>
			<br>
			<%= f.text_area :message, as: :text %>

			<div class="hidden">
				<%= f.label :nickname %>
				<br>
				<%= f.email_field :nickname, hint: 'Leave this field blank' %>	
			</div>

			<%= f.submit 'Send Message', class: "button" %>

		<% end %>
	</div>

</div>