<div class="cv">
	<h3>Background</h3>

	<div class="row">
	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	    	<%= image_tag "family-square.JPG", class: "cv-pic" %>
			<div class="caption">
				<h5>Growing Up</h5>
				<p>Born in New Zealand, raised in the UK. I also have Swiss, Australian and Cook Island blood in me. I grew up reading the musings of <%= link_to "Bill Bonner", "http://www.dailyreckoning.com", target: "_blank" %> and have been some variation of libertarian ever since.</p>
	     	 </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	    	<%= image_tag "graduation-square.jpg", class: "cv-pic" %>
			<div class="caption">
				<h5>School</h5>
				<p>Obtained my BA in Economics from the <%= link_to "University of Leicester", "http://www.le.ac.uk", target: "_blank" %> and then came top of my Masters in Finance program at <%= link_to "Cass Business School", "http://www.cass.city.ac.uk", target: "_blank" %>. I met and worked with some fantastic people at Cass, including these <%= link_to "guys", "http://www.cass.city.ac.uk/news-and-events/news/2011/july/cass-students-breeze-to-victory-with-business-plan-idea", target: "_blank" %>.</p>
	     	 </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	    	<%= image_tag "office-square.JPG", class: "cv-pic" %>
			<div class="caption">
				<h5>Work</h5>
				<p>Joined the good chaps at <%= link_to "Barclays", "http://www.barclays.com", target: "_blank" %> after graduating. I worked in several roles including investment management, FX and private banking and spent time in the UK and Hong Kong offices. I left after 2 years to start a new chapter.</p>
	     	 </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	    	<%= image_tag "ghanavillage-square.jpg", class: "cv-pic" %>
			<div class="caption">
				<h5>Ghana & China</h5>
				<p>I jumped at the chance to live in Africa and worked as a volunteer consultant for a small microbank in Accra, Ghana for 4 months. I then went back to the UK to complete the <%= link_to "CFA Program", "http://www.cfainstitute.org/programs/cfaprogram/Pages/index.aspx", target: "_blank" %> before moving to Shanghai to learn Chinese.</p>
	     	 </div>
	    </div>
	  </div>

	</div>
</div>

<hr>