<div class="intro section">

	<h2 class="title">Passionate about innovation and creation, learning and progress, travel and exploration</h2>

	<div class="section-text">
		<p>I traded my nascent career in finance for a life focused on learning new skills, living in new places, pursuing adventure, and exploring my passions.</p>
		<p>In 2014 I moved to Shanghai and studied two semesters each at <%= link_to "ECNU", "http://english.ecnu.edu.cn/", target: "_blank" %> and then <%= link_to "Fudan University", "http://www.fudan.edu.cn/en/", target: "_blank" %> respectively. While nowhere near fluent, my Chinese is decent: it's comfortably functional and I have numerous real friends and business contacts with whom I’ve only ever spoken Chinese. I often get asked how to get started, so I’ll be sharing my own methods for effective language learning <%= link_to "here", "chinese", target: "_blank" %> soon.</p>
		<p>My main project at the moment is cross-cultural streetwear brand <%= link_to "Aoye", "http://www.aoye.co", target: "_blank" %>. Our mission is to inspire a new wave of Chinese brands focused on original aesthetic and quality finishing in order to change perceptions of China’s creative industry for the better.</p>
		<p>I am also currently part of the team at all-natural super-product <%= link_to "Migraine Escape", "http://www.migrainescape.com", target: "_blank" %> & offer branding and content services for Chinese startups looking to reach an English-speaking audience.</p>
	</div>
</div>

<hr>