<div class="posts-form">

	<%= form_for @post do |f| %>

		<% if @post.errors.any? %>
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>

		<h5><%= f.label :title %></h5>
		<%= f.text_field :title %>

		<br>
		<br>

		<h5><%= f.label :description %></h5>
		<%= f.text_area :description %>

		<br>
		<br>

		<h5><%= f.label :content, "Write your article here" %></h5>
		<%= f.text_area :content %>

		<br>
		<br>

		<%= f.submit %>

	<% end %>

</div>