<%= render 'posts_header' %>

<div class="posts-container">

	<div class="title">
		<h3>Articles</h3>
	</div>

	<% @posts.each do |post| %>
		<div class="post">
			<h6 class="date"><%= post.created_at.strftime("%A, %d %B %Y") %></h6>
			<h2><%= link_to post.title, post %></h2>
			<p><%= post.description %></p>
		</div>

		<hr>	
	<% end %>



	<div class="pagination">
		<%= will_paginate @posts %>
	</div>


</div>

<%= render 'posts_footer' %>


