<%= render 'posts_header' %>

<div class="posts-container">

	<div class="title">
		<h4>Articles</h4>
	</div>

	<div class="post">
		<% @posts.each do |post| %>
			<h6 class="date"><%= post.created_at.strftime("%A, %d %B %Y") %></h6>
			<h2><%= link_to post.title, post %></h2>
			<p><%= post.description %></p>
			<hr>
		<% end %>
	</div>

	<div class="pagination">
		<span class="previous_page disabled">Previous</span>
		<em class="current">1</em>
		<a rel="next" href="#">2</a>
		<a class="next_page" href="#">Next</a>
	</div>

</div>

<%= render 'posts_footer' %>


