<%= render 'posts_header' %>

<div class="posts-container">
	<div class="title">
		<p class="date"><%= @post.created_at.strftime("%A, %d %B %Y") %></p>
		<h3><%= @post.title %></h3>

	<hr>

	</div>

	<div class="posts-content">
		<p><%= markdown @post.content %></p>
	</div>

	<br>

	<p><%= link_to "Edit", edit_post_path(@post) %> | <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %></p>	

	<hr>

	<div class="share-box">
		<h6>Share <em><%= @post.title %></em></h6>
		<a href="http://twitter.com/share?text=<%= @post.title %> by @ryancrocombe" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
			<i class="fa fa-twitter" aria-hidden="true"></i>
		</a>
		<a href="http://www.facebook.com/sharer.php" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
			<i class="fa fa-facebook" aria-hidden="true"></i>
		</a>
	</div>

	<hr>

	<%= render 'disqus' %>	                        

</div>

<%= render 'posts_footer' %>